{{>header}}
{{>navbar}}

<div class="row">

  <div class="col-8">
    <h1>Joker</h1>
  </div>

  <h1 class="col-4">
    <img src="assets/img/jocker.jpg" class="img-thumbnail">
  </h1>
</div>

{{>footer}}